<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome to Admin Controller</title>
</head>
<body>
	<h2>Welcome to Admin Controller</h2>
	<a th:href="@{/admin-api/regAdminPage}">Register Admin</a>
	<br>
	<a th:href="@{/admin-api/adminLoginPage}">Admin Login</a>
	<br>
	<a th:href="@{/admin-api/addTutorByAdminPage}">Add Tutor</a>
	<br>
	<a th:href="@{/admin-api/viewAllParents}">View All Parents</a>
	<br>
	<a th:href="@{/admin-api/addBookPage}">Add Books</a>
	<br>


</body>
</html>